    

html{
    -webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
  }
  @keyframes fadein{
    from{opacity: 0.3;}
    to  {opacity: 1;}
  }

  /*Firefox*/
  @-moz-keyframes fadein{
    from{opacity: 0.3;}
    to  {opacity: 1;}        
  }
  /*safari, Chrome e Opera*/
  @-webkit-keyframes fadein{
    from{opacity: 0.3;}
    to  {opacity: 1;}        
  }
  /*Internet Explore*/

  /*Opera*/
  @-o-keyframes fadein{
    from{opacity: 0;}
    to  {opacity: 1;}        
}